<div>
    <h1>Welcome to the Home Component</h1>
    <p>This is a simple Angular component rendering some HTML.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
  <div appHover ="blue">
    Hover Me!
  </div>

  <p>This is an example of using &nbsp; &nbsp; &nbsp;  non-breaking space.</p>

  <p>Without &nbsp; non-breaking space, the following text might break:</p>

  <p>This is some text that might break at the space between these two words.</p>

  <p>But with &nbsp; non-breaking space, the following text stays together:</p>

  <p>This is some text that&nbsp;won't break at the space between these two words.</p>
  <!-- <h2>Title</h2>
  <p>Paragraph example.</p> 
  <p>Paragraph example.</p>
  <p>Paragraph example.</p>
  <div class=”box”>
    <p>Paragraph example.</p>
  </div>

  <input type="text" placeholder="enter"> -->

  
  <!-- <div id="container">
    <div class="box">x sn cm</div>
    <div>
    <div class="box">ddd</div>
    <div class="box">ddd</div>
  </div>
    <div class="box-2">c sam,</div>
  </div>
  
  <div class="box">csa ,m

  </div> -->

  <!-- <div id="container">
    <div class="box">ee</div>
    <div class="box3">ee</div>
    <div class="box">ee</div>
    <div class="box">ee</div>
    
    <div>
      <div class="box">dd</div>
      <div class="box">dd</div>
    </div>
  </div> -->